extends layout

block content
  h1= title

  ul
    each budget in budgets
      li
        a(href=budget.url) #{budget.name}
        |  (#{budget.user.username})

    else
      li There are no budgets.
